In [ ]:
import pandas as pd

data = pd.read_csv("E:\\Masters\\ML\\Assignment\\wallacecommunications.csv")
print(f"Info: \n {data.info()}")
print(f"null counts:\n {data.isnull().sum()}")
print(f"na counts: \n {data.isna().sum()}")
print(f"sample rows : \n {data.head()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50662 entries, 0 to 50661
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         50662 non-null  int64
 1   town                                       50662 non-null  object
 2   country                                    50662 non-null  object
 3   age                                        50662 non-null  int64
 4   job                                        50662 non-null  object
 5   married                                    50662 non-null  object
 6   education                                  50662 non-null  object
 7   arrears                                    50662 non-null  object
 8   current_balance                            50662 non-null  float64
 9   housing                                    50662 non-null  object
 10  has_tv_package                             50662 non-null  object
 11  last_contact                               50662 non-null  object
 12  conn_tr                                    50662 non-null  int64
 13  last_contact_this_campaign_day             50662 non-null  int64
 14  last_contact_this_campaign_month           50662 non-null  object
 15  this_campaign                              50662 non-null  int64
 16  days_since_last_contact_previous_campaign  50662 non-null  int64
 17  contacted_during_previous_campaign         50662 non-null  int64
 18  outcome_previous_campaign                  50662 non-null  object
 19  new_contract_this_campaign                 50662 non-null  object
dtypes: float64(1), int64(7), object(12)
memory usage: 7.7+ MB
Info:
 None
null counts:
 ID                                           0
town                                         0
country                                      0
age                                          0
job                                          0
married                                      0
education                                    0
arrears                                      0
current_balance                              0
housing                                      0
has_tv_package                               0
last_contact                                 0
conn_tr                                      0
last_contact_this_campaign_day               0
last_contact_this_campaign_month             0
this_campaign                                0
days_since_last_contact_previous_campaign    0
contacted_during_previous_campaign           0
outcome_previous_campaign                    0
new_contract_this_campaign                   0
dtype: int64
na counts:
 ID                                           0
town                                         0
country                                      0
age                                          0
job                                          0
married                                      0
education                                    0
arrears                                      0
current_balance                              0
housing                                      0
has_tv_package                               0
last_contact                                 0
conn_tr                                      0
last_contact_this_campaign_day               0
last_contact_this_campaign_month             0
this_campaign                                0
days_since_last_contact_previous_campaign    0
contacted_during_previous_campaign           0
outcome_previous_campaign                    0
new_contract_this_campaign                   0
dtype: int64
sample rows :
          ID           town country  age         job   married  education  \
0  32390233        Bristol      UK   39  management   married   tertiary
1  41226029       Basildon      UK   53   housemaid   married    primary
2  85498057      Blackburn      UK   79     retired  divorced    primary
3  76539627         Oldham      UK   43    services    single  secondary
4  76290986  Middlesbrough      UK   35  technician    single  secondary

  arrears  current_balance housing has_tv_package last_contact  conn_tr  \
0      no            -1.90      no            yes      unknown        4
1      no             3.62      no             no     cellular        1
2      no            27.87      no             no    telephone        3
3      no             5.50     yes             no     cellular        3
4      no             3.44      no             no     cellular        2

   last_contact_this_campaign_day last_contact_this_campaign_month  \
0                              11                              jun
1                              28                              jul
2                              13                              jul
3                              13                              may
4                              27                              aug

   this_campaign  days_since_last_contact_previous_campaign  \
0              8                                         -1
1              2                                         -1
2              1                                        377
3              2                                         -1
4             16                                         -1

   contacted_during_previous_campaign outcome_previous_campaign  \
0                                   0                   unknown
1                                   0                   unknown
2                                   1                   success
3                                   0                   unknown
4                                   0                   unknown

  new_contract_this_campaign
0                        yes
1                        yes
2                        yes
3                         no
4                        yes

In [2]:
for data_col in data.columns:
    print(f"{data_col}: {data[data_col].unique()}")

ID: [32390233 41226029 85498057 ... 14476386 63746806 18687856]
town: ['Bristol' 'Basildon' 'Blackburn' 'Oldham' 'Middlesbrough' 'Poole'
 'Stockport' 'Wolverhampton' 'Eastbourne' 'Weston-super-Mare' 'London'
 'Sheffield' 'Leeds' 'Raleigh' 'Cambridge' 'Kingston upon Hull'
 'Milton Keynes' 'Nottingham' 'Woking' 'Birmingham' 'Basingstoke' 'Oxford'
 'Luton' 'Manchester' 'Glasgow' 'Worthing' 'Darlington' 'Sunderland'
 'Birkenhead' 'Chelmsford' 'Cardiff' 'Cheltenham' 'Portsmouth' 'Bath'
 'Chester' 'Bradford' 'Coventry' 'Liverpool' 'Bournemouth' 'Dundee'
 'County Down' 'Exeter' 'Derby' 'Swindon' 'Edinburgh' 'Hartlepool'
 'Gateshead' 'Rochdale' 'Reading' 'Hemel Hempstead' 'Wakefield' 'Belfast'
 'Worcester' 'Newport' 'Warrington' 'Sutton Coldfield' 'Solihull'
 'Telford' 'Northampton' 'Sale' 'Chesterfield' 'Brighton' 'Stevenage'
 'Leicester' 'Huddersfield' 'York' 'Newcastle upon Tyne' 'Preston'
 'Gloucester' 'Southend-on-Sea' 'Swansea' 'Peterborough' 'Aberdeen'
 'Watford' 'Gillingham' 'St Albans' 'Southampton' 'Maidstone' 'St Helens'
 'High Wycombe' 'Blackpool' 'Slough' 'Grimsby' 'Ipswich' 'Stoke-on-Trent'
 'Hastings' 'Crawley' 'Southport' 'Lincoln' 'Colchester' 'Barnsley'
 'Salford' 'Rotherham' 'Bedford' 'Wigan' 'Doncaster' 'Bolton' 'Plymouth'
 'Halifax' 'Norwich' 'Nuneaton']
country: ['UK' 'France' 'Germany' 'USA' 'Portugal']
age: [39 53 79 43 35 24 49 54 29 56 47 33 41 44 32 42 66 37 34 55 50 48 36 40
 38 27 58 18 30 59 28 31 26 51 46 57 75 65 73 78 25 69 45 76 60 22 52 62
 72 61 63 23 70 68 20 67 71 83 64 77 81 80 21 19 85 86 84 74 87 90 88 89
 82 93 92 95]
job: ['management' 'housemaid' 'retired' 'services' 'technician' 'student'
 'blue-collar' 'self-employed' 'admin.' 'unemployed' 'entrepreneur'
 'unknown']
married: ['married' 'divorced' 'single']
education: ['tertiary' 'primary' 'secondary' 'unknown']
arrears: ['no' 'yes']
current_balance: [ -1.9    3.62  27.87 ...  28.03  70.73 105.58]
housing: ['no' 'yes']
has_tv_package: ['yes' 'no' 'n']
last_contact: ['unknown' 'cellular' 'telephone' 'cell']
conn_tr: [4 1 3 2 5]
last_contact_this_campaign_day: [11 28 13 27  9  4  5 19 29 14  7 25 12 20  6  2 15  8 30  3 21 18 23 22
 16 17 31  1 26 10 24]
last_contact_this_campaign_month: ['jun' 'jul' 'may' 'aug' 'sep' 'feb' 'nov' 'mar' 'jan' 'apr' 'dec' 'oct'
 'j']
this_campaign: [ 8  2  1 16  4  3  7 20 12  5 15  9 11  6 13 21 10 24 18 17 14 26 22 41
 30 23 25 29 43 19 31 63 32 33 28 27 35 36 34 44 38 39 46 50 55 37 51 58]
days_since_last_contact_previous_campaign: [ -1 377 362  99 392 150 337 357 167 164 182  93 121  95 188 365 186 101
 238 805 183 189  89 412 103 251 100 415 344 370  98 174 190  86 321 503
  28  91 181 160  90 227  42 404 172 318 179 381 123 398 334 477 276 345
  94 440 349 113  92 360 305  84 363 295   9 264 425 129 111 168  70 191
 242 196 315 772 184 156 239  56 175  82 579 120 199 274 430 273 282  74
 128 355 119 420 124 105 325  79  60 389 301 331 223  69 197  14 328 203
 347 266   1 322 298 204 353 192 194 171 138  62  97  87 234 106 324 352
 200 312 435 368 281 332 291 307 202 117 342 178 187 236 112 166 350  75
 253 486  34 176 258  22 359  96 320 180 297 371 148  88  20 384 323 271
 257 136 414 356 270 391 154 170 369 300 346 213 313 293  38 135 555  13
 246 126 378 210 169 104 290 152 409  80  83 140 461 449 326 107   6 366
  85 394 551 294 401 195 134  55  21 339  44 211 364 343  48 330 256 304
 458 386 279 260 198 265 491 299 115  77 207 252 173 185 272 217 280 842
 269 250 367  73 351 717 216 520  65 341  43 701 561 162 426 278 385 139
 329 854 228 541 338 144 159 161 132 259 335 336 314 518 372 285 267 125
 163 214 470 130 116 225 193 147  66 108 102 558 475  58 462 481 296 348
  61 358 466 143   2 177 133 302 490 153 149 261  63 122 268 262 310 209
  81 316  41  68 587  64 460 235 286 155 244 436 127  29 469 247 137 395
 450 651 287 792 201 232  53 141 427 114 375 478 771 231 208  17 245  71
  76 229 288 275 254  57 782 165 308 774 317  35 648 495 327 283 361 439
 421 306 311 205 479   4  50 284 255 110  52 455 388 529 474 303 233 146
  31 131 109   8 354 776 778 289 145 586 340 804 749 403 521 263 157  15
  37 212  78 407 374 444 118  36 544  40   5 319 594  67 397  33 277 309
 222 442 626 241 237 553 433  10 828 603  72 424 333 457 417 504 532 376
  24 142 595  59 616 683 158 535 476 728 437 769 826 390 373 243 399 515
 206 387 761 405 459 292  27  49 422 230 472  12 221 463 550 151 784 690
 446 445 428 224 240   7 871 419 411  45 248 432 557 526 249 410 808 542
 215 465 670   3 379 220 380 226 452 489 485 434 791 592 219 383 779  51
 431  26 760  46 745 687 493 393 585 667 218  19 655 456 536 454 500 530
 413  47  39 508 547 524 484 492 578 514 480 467  54 756 396  32 464 633
 531 511 382 416 656 589 562 528 775 850]
contacted_during_previous_campaign: [  0   1   2   6   4   3   8  13   5  10  14   7  11  21   9  27  16  12
  23  29  20  19  26  17  15  55  41  18  58  40  22  28  30  37  32 275
  24  25  35  38  51]
outcome_previous_campaign: ['unknown' 'success' 'other' 'failure']
new_contract_this_campaign: ['yes' 'no']

In [27]:
data.age.describe()

count    50662.000000
mean        40.979373
std         10.919324
min         18.000000
25%         32.000000
50%         39.000000
75%         48.000000
max         95.000000
Name: age, dtype: float64

In [24]:
data_old = data[data['contacted_during_previous_campaign']>20]
data_old.outcome_previous_campaign.value_counts()

outcome_previous_campaign
other      35
failure    26
success     4
Name: count, dtype: int64

In [19]:
data_new = data[data['this_campaign']>20]
data_new.new_contract_this_campaign.value_counts()

new_contract_this_campaign
no     256
yes      8
Name: count, dtype: int64